* {
    box-sizing: border-box;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.945);
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* Top navigation */

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    ul {
        gap: 1.5em;
    }

    img {
        filter: invert(100);
    }

    .nav_left {
        display: flex;
        align-items: center;
    }

    .nav_right {
        display: flex;
        align-items: center;

        span {
            color: black;
            background-color: #a8c7fa;
            padding: 1em 2em;
            border-radius: 20px;
        }
    }
}

/* Hero */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;

    img {
        width: 272px;
        height: 92px;
        margin-bottom: 15px;
    }

    textarea {
        display: block;
        width: 70vw;
        max-width: 560px;
        height: 45px;
        line-height: 3.2;
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.174);
        border-radius: 25px;
        resize: none;
        border: none;
        padding-left: 20px;
        color: white;
        font-family: Arial, sans-serif;
    }
}

/* Footer */


footer {
    display: flex;
    flex-direction: column;

    .footerA {
        background-color: rgba(255, 255, 255, 0.174);
        padding: 20px 10px;
    }

    .footerB {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.174);
        padding: 15px 10px;
        border-top: 1px solid rgb(76, 71, 71);

        img {
            width: 15px;
        }
    }

    .footerC {
        display: flex;
        justify-content: space-around;
        padding: 15px 10px;
        background-color: rgba(255, 255, 255, 0.174);
        border-top: 1px solid rgb(76, 71, 71);

        ul {
            display: flex;
            gap: 1em;
        }
    }
}